<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blogapi.mapper.CarouselMapper">

    <insert id="addCarouselEntity">
        INSERT
        INTO springbootmanager.carousel(href, src, num,title)
        values (#{href}, #{src}, #{num},#{title})
    </insert>
    <update id="updateCarousel">
        UPDATE springbootmanager.carousel
        SET href=#{href},
            src=#{src},
            num=#{num},
            title=#{title}
        WHERE id = #{id}
    </update>
    <delete id="deleteCarousel">
        DELETE
        FROM springbootmanager.carousel
        WHERE id = #{id}
    </delete>
    <select id="pullCarsousel" resultType="com.example.blogapi.pojo.CarouselEntity">
        SELECT id,href,src,num,title
        FROM springbootmanager.carousel
        order by num asc
    </select>
</mapper>