<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blogapi.mapper.CommentMapper">


    <insert id="addComment" parameterType="com.example.blogapi.pojo.CommentEntity">
        INSERT INTO springbootmanager.comment(email,
                                              name,
                                              `describe`,
                                              content,
                                              date,
                                              parentId,
                                              articleId)
        VALUES (#{email}, #{name}, #{describe}, #{content}, #{date}, #{parentId}, #{articleId})
    </insert>
    <delete id="deleteCommentById" parameterType="int">
        DELETE
        FROM springbootmanager.comment
        WHERE id = #{id}
    </delete>
    <select id="findCommentByArticleId" resultType="com.example.blogapi.pojo.CommentEntity">
        SELECT id,
               email,
               name,
               `describe`,
               content,
               date,
               parentId,
               articleId
        from springbootmanager.comment
        WHERE articleId = #{articleId}
          and parentId = -1 order by date desc;
    </select>
    <select id="findCommentByCommentId" resultType="com.example.blogapi.pojo.CommentEntity">
        SELECT id,
               email,
               name,
               `describe`,
               content,
               date,
               parentId,
               articleId
        from springbootmanager.comment
        WHERE parentId = #{commentId} order by date desc;
    </select>
</mapper>