<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blogapi.mapper.LinktagMapper">
    <cache></cache>
    <insert id="addLinkTag" parameterType="com.example.blogapi.pojo.LinktagEntity">
        INSERT INTO linktag(articleId, tagId)
        VALUES (#{articleId}, #{tagId})
    </insert>
    <delete id="deleteLinkTag" parameterType="com.example.blogapi.pojo.LinktagEntity">
        DELETE
        FROM linktag
        WHERE tagId = #{tagId}
          and articleId = #{articleId}
    </delete>
    <delete id="removeArticleTags">
        DELETE
        FROM linktag
        WHERE articleId = #{articleId}
    </delete>

    <select id="searchArticle" resultType="com.example.blogapi.pojo.ArticleEntity">
        SELECT id,
        title,
        author,
        date,
        SUBSTRING(content, 1, 300) as content,
        browse
        FROM article
        WHERE article.id IN (
        SELECT articleId
        FROM linktag
        WHERE linktag.tagId IN (
        SELECT id
        FROM tag
        where tag.tag = #{tagName}
        ))
    </select>
    <select id="searchArticleTotal" resultType="java.lang.Integer">
        SELECT count(id)
        FROM article
        WHERE article.id IN (SELECT articleId
                             FROM linktag
                             WHERE linktag.tagId IN (SELECT id
                                                     FROM tag
                                                     where tag.tag = #{tagName}))
    </select>
    <select id="getArticleClass" resultType="com.example.blogapi.pojo.TagEntity">
        SELECT tag.id, tag.tag, tag.color
        FROM tag
        WHERE tag.id IN (SELECT tagId
                         FROM linktag
                         WHERE linktag.articleId = #{articleId})
    </select>
    <resultMap id="mapArticle" type="com.example.blogapi.pojo.ArticleEntity">

    </resultMap>
</mapper>