<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blogapi.mapper.LinktagMapper">

    <insert id="addLinkTag" parameterType="com.example.blogapi.pojo.LinktagEntity">
        INSERT INTO linktag(articleId, tagId)
        VALUES (#{articleId}, #{tagId})
    </insert>
    <delete id="deleteLinkTag" parameterType="com.example.blogapi.pojo.LinktagEntity">
        DELETE FROM linktag WHERE tagId =#{tagId} and articleId = #{articleId}
    </delete>

</mapper>