<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogapi.mapper.MemberMapper">
    <cache></cache>
    <insert id="addMember">
        INSERT INTO springbootmanager.user(account, password)
        VALUES (#{account}, #{password})
    </insert>

    <update id="modifyPassword">
        UPDATE springbootmanager.user
        SET password=#{password}
        WHERE account = #{account}
    </update>


    <delete id="deleteMember">
        DELETE
        FROM springbootmanager.user
        WHERE user.account = #{account}
    </delete>
    <select id="validateMember" resultType="java.lang.Integer">
        SELECT id, account, password
        FROM springbootmanager.user
        WHERE password = #{password}
          and account = #{account}
    </select>
    <select id="getMembers" resultType="com.example.blogapi.pojo.Member">
        SELECT id, account, password
        FROM springbootmanager.user
    </select>
</mapper>