<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogapi.mapper.SumMapper">
<!--    <cache></cache>-->
    <select id="getSum" resultType="com.example.blogapi.pojo.SumEntity">
        SELECT SUM(browse) as visitTotal, SUM(1) as articleTotal
        FROM springbootmanager.article
    </select>
    <select id="getCommentTotal" resultType="Integer">
        SELECT SUM(1) as commentTotal
        FROM springbootmanager.comment
    </select>
</mapper>